.Fin-center-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  text-align: center;
  margin-top: 20px;

}
.AnswerNotSelected,
.RightAnswer,
.WrongAnswer {
  background: antiquewhite;
  color: #000;
  width: 100%;
  margin: 10px;
  padding: 10px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
  border-radius: 20px;
}

.RightAnswer {
  background-color: rgb(86, 127, 14);
  color: #fff;
}

.WrongAnswer {
  background-color: crimson;
  color: #fff;
}

.notGoodMessage,
.veryGoodMessage {
  color: green;
  font-weight: bold;
  font-size: 16px;
  margin-top: 10px;
}

.notGoodMessage {
  color: red;
}
.qcm-two-container {
  margin-top: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 120%;
  margin-left: -10%;
  background: antiquewhite;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
  text-align: center;
  transition: transform 0.3s ease-in-out;
}

.question h2 {
  color: #082465;
  font-weight: bold;
}

