body {
    font-family: 'Comic Sans MS', cursive, sans-serif; /* Utilisation d'une police ludique */
    margin: 0;
    padding: 0;
    background-color: #81d4fa; /* Bleu clair */
    color: #333; /* Couleur de texte plus sombre pour une meilleure lisibilité */
    font-size: 18px; /* Taille de police de base augmentée */
    line-height: 1.6; /* Espacement entre les lignes pour une meilleure lisibilité */
}

.navbar {
    background-color: #42a5f5; /* Bleu plus foncé */
}

#quiz-container {
    width: 95%; /* Augmentation de la largeur */
    max-width: 1000px; /* Augmentation de la largeur maximale */
    margin: 50px auto;
    background-color: #fff;
    padding: 40px; /* Augmentation de la marge intérieure */
    border-radius: 10px; /* Augmentation du rayon de la bordure */
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.1);
    transition: box-shadow 0.3s ease, transform 0.3s ease;
    position: relative;
}

h1 {
    text-align: center;
    color: #42a5f5; /* Bleu plus foncé */
    margin-bottom: 30px; /* Augmentation de la marge en bas */
    font-size: 28px; /* Augmentation de la taille de la police */
}

.timer-container {
    position: fixed;
    top: 20px; /* Ajustez la position verticale selon vos besoins */
    right: 20px; /* Ajustez la position horizontale selon vos besoins */
    background-color: #fff;
    padding: 10px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

/* Ajoutez du style au chrono */
#timer {
    font-size: 1.5em;
    font-weight: bold;
    color: #ff0000;
}

#countdown {
    font-size: 48px; /* Augmentation de la taille de la police */
}

.question p {
    margin-bottom: 20px; /* Augmentation de la marge entre les questions */
    font-weight: bold;
    font-size: 18px; /* Augmentation de la taille de la police */
}

label {
    display: block;
    margin-bottom: 15px; /* Augmentation de la marge entre les étiquettes */
    color: #333;
}

input[type="radio"] {
    margin-right: 10px; /* Ajustement de la marge entre les boutons radio */
}

button {
    display: block;
    width: 100%;
    padding: 20px; /* Augmentation de la taille du bouton */
    background-color: #66bb6a; /* Vert clair */
    color: #fff;
    border: none;
    border-radius: 10px; /* Augmentation du rayon de la bordure */
    cursor: pointer;
    transition: background-color 0.3s ease, transform 0.3s ease;
}

button:hover {
    background-color: #43a047; /* Vert plus foncé */
    transform: scale(1.05);
}

#quiz-container:hover {
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
    transform: scale(1.03);
}
